/*
GENERAL PAGE LAYOUT STUFF
*/

body{
  margin: 0;
  background-color: #0B0C10;
  color:#C5C6C7;
  font-family: sans-serif
}
.wrapper-wrapper{
  min-height: 100vh;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  width:1080px;
  background-color: #1F2833;
}
.wrapper{
  height:100%;
}
.wrapper-bg{
  height:100%;
  min-height:100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

#footer{
  padding: 10px 0 10px 0
}

.content{
  min-height: calc(100% - 100px);
}

h1,h2{
  color: #66FCF1
}

/*
NAVBAR STYLING
*/

.navbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.navbar-logo{
  display:inline-block;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem; /* for the alt text */
}

.navbar-links{
  display:flex;
  flex-direction:row;
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  text-transform: uppercase; /* this just looks a little better */
}

.navbar-link{
  display:block;
  margin:.5rem 1rem;
  color: #45A29E;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 0 solid; /* make the underline transition better*/

  transition-property: color, border-bottom, font-size;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-in-out;
}

.navbar-link:hover {
  color: #66FCF1;
  font-size: 1.08rem;
  /* text-decoration: underline; */
  border-bottom: 2px solid #66FCF1; /* make a thicker underline*/
}

.logo{
  /* height:5vh */
  height: 50px;
}

/* #search-bar{
  height:10rem;
} */

/* #search-button{

} */


/*
ERROR PAGE
*/
pre{
  background-color: #1F2833;
  /* color: #C5C6C7; */
  padding: .5em;
  white-space: pre-wrap;
  overflow-wrap: break-word
}

/*
SEEARCH PAGE
*/
.series-container{
  display:flex;
  flex-wrap: wrap;
}
.series{
  margin: 6px;
  width: calc(20% - 12px);
  height: 300px;
  outline: #45A29E solid 2px;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: center top;
}
.series:hover{
  outline: #0B0C10 solid 2px;
}
.series a{
  text-decoration: none;
  color: #45A29E;
}
.series:hover a{
  color: #66FCF1;
}
.series img{
  width:100%;
  height:auto;
  object-fit: cover;
}
#search-input{
  width:100%;
}
#search-button{
  position:relative;
}